.user__wrapper {
  display   : none;
  width     : 460px;
  padding   : 0 12px;
  background: $secondary-color;
  margin    : 10px 10px 0 10px;

  .user__details {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
    padding       : 12px 4px;


    &__header {
      display        : flex;
      align-items    : center;
      justify-content: space-between;
      border-bottom  : 1px solid #dadee0;
      padding-bottom : 10px;
    }

    &__status {
      margin-right: 50px;
    }

    &__avatar {
      margin: 0 auto;

      img {
        width : 180px;
        height: 180px;
      }
    }

    &__username {
      text-align: center;
      color     : #313131;
      font-size : $fs-x-small
    }

    &__mail--icon,
    &__visited--icon {
      display      : flex;
      gap          : 10px;
      align-items  : center;
      margin-bottom: 10px;

      span {
        color    : #313131;
        font-size: $fs-x-small
      }
    }

    &__time,
    &__email {
      font-size  : $fs-x-small;
      font-weight: $fw-normal;
      margin-left: 26px;
    }

    svg {
      fill: #94A1B3;
    }
  }
}