.user__wrapper {
  background: $secondary-color;

  .user {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
    padding       : 12px 4px;


    &__header {
      display        : flex;
      align-items    : center;
      justify-content: space-between;
      border-bottom  : 1px solid #dadee0;
      padding-bottom : 10px;

      &--icon {
        position: relative;

        &:hover {
          &::before {
            @extend %hover-icon;
          }
        }

        svg {
          @extend %style-icon;

          &:hover {
            fill: $text-primary;
          }
        }
      }

      &--status.active,
      &--status.not__active {
        margin-right: 50px;

        span {
          border-radius: 8px;
          padding      : 4px 12px;
          font-size    : $fs-small;
          font-weight  : $fw-medium;
        }
      }

      &--status.active {
        span {
          background-color: $bg-primary-color;
          color           : $text-secondary;
        }
      }

      &--status.not__active {
        span {
          background-color: $bg-secondary-color;
          color           : $text-tertiary;
        }
      }
    }

    &__avatar {
      margin: 0 auto;

      img {
        width : 180px;
        height: 180px;
      }
    }

    &__username {
      text-align: center;
      color     : $tertiary-color;
      font-size : $fs-x-small
    }

    &__mail--icon,
    &__visited--icon {
      display      : flex;
      gap          : 10px;
      align-items  : center;
      margin-bottom: 10px;

      span {
        color    : $tertiary-color;
        font-size: $fs-x-small
      }
    }

    &__time-text,
    &__email-text {
      font-size  : $fs-x-small;
      font-weight: $fw-normal;
      margin-left: 26px;
    }

    svg {
      fill: #94A1B3;
    }
  }
}