.modal {
  @extend %modal;

  &__header {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 10px 20px;
    transition     : all 1s ease;

    &-text {
      font-size: $fs-x-small;
    }

    &--icon {
      position: relative;
      cursor  : pointer;

      &:hover {
        &::before {
          @extend %hover-icon;
        }
      }

      svg {
        @extend %style-icon;

        &:hover {
          fill: $text-primary;
        }
      }
    }
  }

  &__body {
    display: flex;
    gap    : 12px;
    padding: 20px 0;

    input[type=text] {
      width        : 60%;
      padding      : 8px;
      margin-left  : 20px;
      border       : 1px solid #ccc;
      border-radius: 3px;

      &:focus {
        outline: #5ccce7;
        border : 1px solid #5ccce7;
      }
    }
  }
}

.modal-delete {
  @extend %modal;
  min-width : 330px;
  border-top: 5px solid $primary-color;

  &__header {
    text-align: center;
    transition: all 1s ease;

    &-text {
      font-size : $fs-medium;
      margin-top: 14px;
    }
  }

  &__body {
    display   : block;
    text-align: center;
    padding   : 20px 0;
  }

  .modal-btn__delete {
    display        : flex;
    justify-content: center;
    gap            : 10px;
    margin-bottom  : 14px;
  }

  .btn__cancel,
  .btn__delete {
    padding  : 8px 40px;
    font-size: $fs-small
  }

  .btn__cancel {
    background: #f4f5f9;
    color     : $primary-color;

    &:hover {
      background-color: #e7e9f2;
    }
  }

  .btn__delete {
    &:hover {
      background-color: #1992af;
    }
  }
}