.sidebar {
  min-width       : 210px;
  background-color: #4a4e58;
  border-color    : #4a4e58;


  .btn__sidebar {
    display         : flex;
    align-items     : center;
    gap             : 8px;
    padding         : 3px 61px;
    margin          : 18px 0 0 20px;
    border-radius   : 2px;
    border-color    : $primary-color;
    background-color: $primary-color;
    color           : $secondary-color;
    font-size       : $fs-small;
    font-weight     : $fw-medium;
    font-family     : $primary-font;

    &:hover {
      background-color: #1992af;
    }

    &--icon {
      font-size: $fs-medium;
    }
  }

  &__user {
    display         : flex;
    align-items     : center;
    background-color: #3b3e46;
    color           : $primary-color;
    border-left     : 3px solid $primary-color;
    gap             : 10px;
    margin-top      : 18px;
    padding-left    : 12px;
    height          : 44px;

    &--icon {
      svg {
        fill: $primary-color;
      }
    }

    span {
      font-size: $fs-x-small;
    }
  }
}

.sidebar--hidden {
  @include tablet {
    & {
      display: none;
    }
  }
}