@mixin largeDesktop {
  @media (max-width: $max-width-large-desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $max-width-tablet) {
    @content;
  }
}

@mixin landscapePhone {
  @media (max-width: $max-width-landscape-phone) {
    @content;
  }
}

@mixin portraitPhone {
  @media (max-width: $max-width-portrait-phone) {
    @content;
  }
}

%common-text {
  color      : $text-primary;
  font-size  : $fs-small;
  font-weight: $fw-medium;
}

%common-btn {
  padding      : 0 30px;
  font-size    : $fs-x-small;
  outline      : none;
  border       : none;
  border-radius: 2px;
}

%hover-icon {
  content         : '';
  position        : absolute; //Position the pseudo element
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%); //Center it horizontally and vertically.
  border-radius   : 50%;
  background-color: #f4f5f9;
  width           : 30px;
  height          : 30px;
  cursor          : pointer;
}

%style-icon {
  font-size: $fs-x-small;
  fill     : #94a1b3;
  position : relative;
  z-index  : 1;
  cursor   : pointer;
}

%modal {
  display         : none;
  position        : fixed;
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  background-color: $secondary-color;
  min-width       : 351px;
  min-height      : 108px;
  box-shadow      : 0 3px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  z-index         : 10000;
}